body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:959px;
}
#u45_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:959px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1365px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-406px;
  width:1024px;
  height:1365px;
  display:flex;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:959px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:959px;
  display:flex;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:161px;
  width:424px;
  height:96px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
}
#u48 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:249px;
  width:748px;
  height:36px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u49 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:686px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3660px;
  width:1024px;
  height:686px;
  display:flex;
  opacity:0.58;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:686px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3660px;
  width:1024px;
  height:686px;
  display:flex;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:4325px;
  width:101px;
  height:22px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u52 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:3px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1005px;
  width:662px;
  height:3px;
  display:flex;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:989px;
  width:35px;
  height:35px;
  display:flex;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:989px;
  width:35px;
  height:35px;
  display:flex;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:536px;
  width:843px;
  height:423px;
}
#u56_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:423px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1992px;
  height:423px;
}
#u57_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1992px;
  height:423px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
.u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:423px;
}
.u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:423px;
  display:flex;
}
.u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:423px;
}
.u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:423px;
  display:flex;
}
.u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
.u62 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:292px;
  width:110px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
.u62 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u62_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
.u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:333px;
  width:268px;
  height:75px;
  display:flex;
  text-align:center;
}
.u63 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:423px;
}
#u58-2 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:0px;
  width:268px;
  height:423px;
}
#u58-3 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:0px;
  width:268px;
  height:423px;
}
#u58-4 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:0px;
  width:268px;
  height:423px;
}
#u58-5 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:0px;
  width:268px;
  height:423px;
}
#u58-6 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:0px;
  width:268px;
  height:423px;
}
#u58-7 {
  border-width:0px;
  position:absolute;
  left:1722px;
  top:0px;
  width:268px;
  height:423px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1990px;
  height:423px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:1692px;
  width:820px;
  height:453px;
}
#u64_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:453px;
  overflow:hidden;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#555555;
  text-align:right;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:2248px;
  width:265px;
  height:32px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#555555;
  text-align:right;
}
#u65 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:2292px;
  width:444px;
  height:15px;
  display:flex;
}
#u66 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:2468px;
  width:155px;
  height:29px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:2499px;
  width:129px;
  height:22px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u68 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:2546px;
  width:460px;
  height:260px;
  display:flex;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:3px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:2873px;
  width:843px;
  height:3px;
  display:flex;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:2940px;
  width:73px;
  height:29px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u71 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:2971px;
  width:143px;
  height:22px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u72 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:3018px;
  width:398px;
  height:260px;
  display:flex;
}
#u73 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:3px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:3365px;
  width:843px;
  height:3px;
  display:flex;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:3442px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u75 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:3473px;
  width:94px;
  height:22px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u76 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:3520px;
  width:419px;
  height:260px;
  display:flex;
}
#u77 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:3px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:3861px;
  width:843px;
  height:3px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#555555;
  text-align:right;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:1638px;
  width:101px;
  height:32px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#555555;
  text-align:right;
}
#u79 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:440px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1091px;
  width:587px;
  height:440px;
  display:flex;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:3px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:1588px;
  width:843px;
  height:3px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1091px;
  width:69px;
  height:29px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:1122px;
  width:161px;
  height:22px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u83 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D7D7D7;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1470px;
  width:101px;
  height:22px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D7D7D7;
}
#u84 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#555555;
  text-align:right;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1050px;
  width:282px;
  height:32px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#555555;
  text-align:right;
}
#u85 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:429px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:2385px;
  width:307px;
  height:429px;
  display:flex;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:332px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:2946px;
  width:444px;
  height:332px;
  display:flex;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:332px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:3443px;
  width:443px;
  height:332px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:13px;
  width:65px;
  height:27px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:13px;
  width:44px;
  height:27px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:13px;
  width:82px;
  height:27px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:13px;
  width:141px;
  height:27px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:13px;
  width:58px;
  height:27px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:13px;
  width:25px;
  height:20px;
  display:flex;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
