body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:959px;
}
#u131_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:959px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1365px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-406px;
  width:1024px;
  height:1365px;
  display:flex;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:959px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:959px;
  display:flex;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:161px;
  width:291px;
  height:96px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
}
#u134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:249px;
  width:411px;
  height:36px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:686px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3340px;
  width:1024px;
  height:686px;
  display:flex;
  opacity:0.58;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:686px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3340px;
  width:1024px;
  height:686px;
  display:flex;
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:4005px;
  width:101px;
  height:22px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:3px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:900px;
  width:844px;
  height:3px;
  display:flex;
}
#u139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:884px;
  width:35px;
  height:35px;
  display:flex;
}
#u140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:884px;
  width:35px;
  height:35px;
  display:flex;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:428px;
  width:843px;
  height:447px;
}
#u142_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:447px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1703px;
  height:445px;
}
#u143_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1703px;
  height:445px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
.u145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:284px;
}
.u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:284px;
  display:flex;
}
.u146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
.u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:110px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
.u147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:355px;
  width:268px;
  height:75px;
  display:flex;
}
.u148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u144-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:430px;
}
#u144-2 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:0px;
  width:268px;
  height:400px;
}
#u144-3 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:0px;
  width:268px;
  height:415px;
}
#u144-4 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:0px;
  width:268px;
  height:415px;
}
#u144-5 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:0px;
  width:268px;
  height:445px;
}
#u144-6 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:0px;
  width:268px;
  height:445px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1703px;
  height:445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
  text-align:right;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:951px;
  width:163px;
  height:29px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
  text-align:right;
}
#u149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:999px;
  width:637px;
  height:22px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u150_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:3px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1717px;
  width:843px;
  height:3px;
  display:flex;
}
#u151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:3px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:2191px;
  width:843px;
  height:3px;
  display:flex;
}
#u152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:3px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:2712px;
  width:843px;
  height:3px;
  display:flex;
}
#u153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:1873px;
  width:170px;
  height:29px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u154_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1902px;
  width:141px;
  height:22px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:2424px;
  width:105px;
  height:29px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u156_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:2453px;
  width:84px;
  height:22px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:128px;
  height:48px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:1048px;
  width:118px;
  height:38px;
  display:flex;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:240px;
  height:39px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:1118px;
  width:230px;
  height:29px;
  display:flex;
}
#u159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:403px;
  height:58px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:1186px;
  width:393px;
  height:48px;
  display:flex;
}
#u160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:159px;
  height:45px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1275px;
  width:149px;
  height:35px;
  display:flex;
}
#u161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:318px;
  height:42px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1342px;
  width:308px;
  height:32px;
  display:flex;
}
#u162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:403px;
  height:31px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:1419px;
  width:393px;
  height:21px;
  display:flex;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:379px;
  height:56px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1487px;
  width:369px;
  height:46px;
  display:flex;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:430px;
  height:65px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1584px;
  width:420px;
  height:55px;
  display:flex;
}
#u165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:381px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1750px;
  width:571px;
  height:381px;
  display:flex;
}
#u166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:428px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:2224px;
  width:571px;
  height:428px;
  display:flex;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:428px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:2745px;
  width:571px;
  height:428px;
  display:flex;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:2934px;
  width:136px;
  height:29px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u169_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:2963px;
  width:121px;
  height:22px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u170 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u170_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:399px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:3266px;
  width:571px;
  height:399px;
  display:flex;
}
#u171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:3px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:3233px;
  width:843px;
  height:3px;
  display:flex;
}
#u172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:3453px;
  width:226px;
  height:29px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u173_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:3482px;
  width:163px;
  height:22px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Bold', 'Bodoni 72 Bold', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u174 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u174_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:13px;
  width:65px;
  height:27px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u175_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:13px;
  width:44px;
  height:27px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u176_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:13px;
  width:82px;
  height:27px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u177_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:13px;
  width:141px;
  height:27px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u178_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:13px;
  width:58px;
  height:27px;
  display:flex;
  font-family:'BodoniSvtyTwoITCTT-Book', 'Bodoni 72 Book', 'Bodoni 72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u179_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:13px;
  width:25px;
  height:20px;
  display:flex;
}
#u180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
